$main-font-color: #222935;
$primary-margin: 3vw;

.expertise-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: $primary-margin;
  margin-right: $primary-margin;
  margin-left: $primary-margin;

  h2, h3 {
    margin: 0; 
  }
  
  p {
    font-size: 18px;
    color: $main-font-color;
  }

  .expertise-item {
    border-radius: 5px;
    display: flex;
  }

  .date {
    font-weight: bold;
    margin-top: 1vw;
    margin-bottom: 10px;
  }
}

h3 {
  margin-top: 10px;
}

.title {
  font-size: 35px;
}

.CompanyYear {
  margin-right: $primary-margin;
}