.expertise-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 3vw;
    margin-right: 3vw;
    margin-left: 3vw;
  }
  
  .expertise-item {
    border-radius: 5px;
    display: flex;
  }
  
  .date {
    font-weight: bold;
    margin-top: 1vw;
    margin-bottom: 10px;
  }
  
  h2, h3 {
    margin: 0; 
  }

  h3 {
    margin-top: 10px;
  }  
  
p {
  font-size: 18px;
  color:  #222935;
}

  .CompanyYear {
    margin-right: 3vw;
  }

  .title {
    font-size: 35px;
  }