$avatar-size: 8vw;
$text-color: white;
$avatar-margin-bottom: 15px;
$name-font-size: 27px;
$name-margin-bottom: 0.01vw;

.photo-box {
  text-align: center;
  padding: 1.5vw;
  border-radius: 10px;

  .avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: $avatar-margin-bottom;
  }

  .name {
    font-size: $name-font-size;
    margin-bottom: $name-margin-bottom;
    color: $text-color;
  }
}