.photo-box {
    text-align: center;
    padding: 1.5vw;
    border-radius: 10px;
  }
  
  .avatar {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .name {
    font-size: 27px;
    margin-bottom: 0.01vw;
    color: white;
  }