.scrollToTopButton {
    position: fixed;
    right: 2.4vw;
    bottom: 2vh;
    z-index: 10; 
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    background-color: #282c34;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.scrollToTopButton:hover {
    background-color: green;
}

.scrollToTopButton svg {
    margin-right: 8px;
}