$button-bg-color: #282c34;
$hover-bg-color: green;
$icon-margin: 8px;

.scrollToTopButton {
  position: fixed;
  right: 2.4vw;
  bottom: 2vh;
  z-index: 10;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  background-color: $button-bg-color;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $hover-bg-color;
  }

  svg {
    margin-right: $icon-margin;
  }
}