.FeedbackItem {
    text-align: center;
}

.feedback-item {
    margin-right: 3vw;
}

.reporter-info {
    display: flex;
    align-items: center;
}

.reporter-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.reporter-name {
    margin-right: 10px;
    font-size: 18px;
    color: black;
}


.feedbackText {
    font-size: 18px;
    background-color: #EEEEEE;
    display: flex;
    padding: 1vw;
}

.reporter-cite {
    font-size: 18px;
    color: green;
}