$main-margin: 3vw;
$main-font-size: 18px;
$main-color-green: green;
$main-color-black: black;
$reporter-photo-size: 40px;

.FeedbackItem {
  text-align: center;
}

.feedback-item {
  margin-right: $main-margin;
}

.reporter-info {
  display: flex;
  align-items: center;

  .reporter-photo {
    width: $reporter-photo-size;
    height: $reporter-photo-size;
    border-radius: 50%;
    margin-right: 10px;
  }

  .reporter-name {
    margin-right: 10px;
    font-size: $main-font-size;
    color: $main-color-black;
  }
}

.feedbackText {
  font-size: $main-font-size;
  background-color: #EEEEEE; 
  display: flex;
  padding: 1vw;
}

.reporter-cite {
  font-size: $main-font-size;
  color: $main-color-green;
}