.App {
  display: flex;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #667081;
  flex-direction: row;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.panel {
  display: none;
}

.panel.open {
  display: block;
}

.App-right-section {
  background-color: rgba(255, 255, 255, 1);
  height: 100vw;
  display: flex;
  flex-direction: column;
}

.App-right-section.expanded {
  margin-left: 2.4vw; 
  width: 95%
}

.App-left-section {
  width: 22%;
  top: 0; 
  bottom: 0;  
  display: flex;
  background-color: #282c34;
  position: fixed;
}

.App-LeftSection1{
  width: 90%;
  display: flex;
  flex-direction: column;  
}

.App-LeftSection2 {
  transition: all 0.3s ease-in-out; 
  background-color: rgba(255, 255, 255, 1);
  width: 10%;
}

.App-LeftSection2.collapsed {
  position: absolute; 
  left: 0; 
}

.click-svg-container {
  position: fixed;
  top: 10px;
  transition: left 0.3s ease;
  z-index: 10;
}

.title {
  font-size: 2vw;
  color: green;
}

.App-panel {
  margin: 1vw;
}

.click-svg {
  width: 40px;
  height: 40px;
  margin-right: 1vw;
  margin-top: 2vw;
}

.buttonBack {
  background-color: red;
}

.divButton {
  margin-top: 1vw;
}

@media (min-width: 600px) {
  .panel {
    display: none;
  }
}