.address-component {
    display: flex;
    flex-direction: column;
    gap: 3.5vw;
    align-items: flex-start;
    margin-top: 4vw;
    margin-right: 3vw;
    margin-left: 3vw;
}

.address-icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.address-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.address-text {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-left: 2vw;
    font-weight: 800;
}

.address-text p {
    margin: 0;
}

.NameLink {
display: flex;
flex-direction: column;
align-items: baseline;
}

.greyText {
    color: #667081;
    font-size: 16px;
    font-weight: 400;
    line-height: 0.1px;
}