$margin-horizontal: 3vw;
$main-font-color: #222935; 

.boxWrapper {
    padding-top: 16px;
    margin: 16px 0;
    margin-right: $margin-horizontal;
    margin-left: $margin-horizontal;
}

.boxTitle {
    font-size: 35px;
    margin-bottom: 2vw;
    margin-top: 3vw;
    color: green;
}

.boxContent {
    font-size: 18px;
    color: $main-font-color;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}