.navigation {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 19.2px;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin: 19.2px;
}

.nav-item .icon {
  margin-right: 10px;
}

.nav-item.active {
  font-weight: bold;
  color: green;
}

.nav-label {
display: flex;
display: inline-block; 
margin-left: 1vw;
}

.nav.label.active {
font-weight: bold;
color: green;
}

.icon {
margin:0
}

.icon-svg {
width: 30px;
height: 30px;
margin-right: 19.2px;
}

.label-class {
display: block;
}

@media (max-width: 600px) {
  .label.active {
    display: none;
}

.nav-label {
  display: none;
}
}