.skills-section {
    margin: 3vw;
}

.skills-section1 {
    margin-top: 3vw;
}

.skills-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    font-size: 35px;
    color: green;
}

.edit-button {
    background-color: #222528;
    padding: 5px 10px;
    cursor: pointer;
    width: 150px; 
    height: 40px; 
    box-sizing: border-box;
    border: 1px solid rgb(8, 8, 8);
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

.skill-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid green;
    border-radius: 10px;
    padding: 10px;
}

.skill-form label {
    display: flex;
    gap: 5px;
    color: black;
    align-items: center;
}

.skill-list {
    list-style-type: disc;
    width: 100%;
}

.skill-item {
    margin-bottom: 10px;
}

.skill-name {
    transform: translate(-50%, -50%); 
    white-space: nowrap; 
    color: white;
    margin-left: 20px;
    font-size: 20px;
}

.skill-bar {
    background-color: #e0e0e0;
    margin-top: 5px;
    position: relative;
    height: 30px;
}

.filled {
    background-color: green; 
    height: 30px;
}

.skills-scale {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 10px;
    height: 30px;
}

.line {
    position: absolute;
    top: 0;
    height: 4px;
    background-color: #e0e0e0;
    width: 100%;
    z-index: 1;
    margin-top: 30px;
}

.marker {
    position: absolute;
    bottom: 0;
    height: 10px;
    width: 4px;
    background-color: #e0e0e0;
    z-index: 2;
}

.beginner-marker { left: 0%; }
.proficient-marker { left: 33%; }
.expert-marker { left: 66%; }
.master-marker { left: 99.7%; }

.skills-scale span {
    top: 15px;  
    white-space: nowrap;
    margin-top: 35px;
}

.skills-scale .beginner {
    left: 0%;
    z-index: 3;
}

.skills-scale .proficient {
    left: 33%;
    z-index: 3;
}

.skills-scale .expert {
    left: 66%;
    z-index: 3;
}

.skills-scale .master {
    left: 100%;
    z-index: 3;
}

.add-button {
    width: 100px;
    height: 40px;
    color: black;
    background-color: rgb(67, 99, 99);
    cursor: not-allowed;
    border-radius: 8px;
}

.add-button.active {
    background-color: green;
    color: white;
    cursor: pointer;
}

.input-field {
    width: 250px; 
    height: 40px; 
    padding: 5px;  
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 5px;
}

.input-field[type="number"]::-webkit-inner-spin-button,
.input-field[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.error-message {
    color: red;
    margin: 5px 0;
    font-size: 0.85em;
}