$main-font-size: 35px;
$secondary-color: green;
$section-margin: 3vw;
$button-height: 40px;
$skill-bar-height: 30px;

.skills-section {
    margin: $section-margin;
}

.skills-section1 {
    margin-top: $section-margin;
}

.skills-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: $main-font-size;
    color: $secondary-color;
}

.edit-button {
    background-color: #222528;
    padding: 5px 10px;
    cursor: pointer;
    width: 150px;
    height: $button-height;
    box-sizing: border-box;
    border: 1px solid rgb(8, 8, 8);
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

.skill-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid $secondary-color;
    border-radius: 10px;
    padding: 10px;

    label {
        display: flex;
        gap: 5px;
        color: black;
        align-items: center;
    }
}

.skill-list {
    list-style-type: disc;
    width: 100%;
}

.skill-item {
    margin-bottom: 10px;
}

.skill-name {
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: white;
    margin-left: 20px;
    font-size: 20px;
}

.skill-bar {
    background-color: #e0e0e0;
    margin-top: 5px;
    position: relative;
    height: $skill-bar-height;
}

.filled {
    background-color: $secondary-color;
    height: $skill-bar-height;
}

.skills-scale {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 10px;
    height: $skill-bar-height;

    span {
        top: 15px;
        white-space: nowrap;
        margin-top: 35px;
    }

    .beginner, .proficient, .expert, .master {
        z-index: 3;
    }

    .beginner { left: 0%; }
    .proficient { left: 33%; }
    .expert { left: 66%; }
    .master { left: 100%; }
}

.line, .marker {
    position: absolute;
    background-color: #e0e0e0;
    z-index: 1;
    height: 4px;
    width: 100%;

    &.marker {
        bottom: 0;
        height: 10px;
        width: 4px;
        z-index: 2;
    }
}

.beginner-marker, .proficient-marker, .expert-marker, .master-marker {
    position: absolute;
    bottom: 0;
    height: 10px;
    width: 4px;
    background-color: #e0e0e0;
    z-index: 2;
}

.beginner-marker { left: 0%; }
.proficient-marker { left: 33%; }
.expert-marker { left: 66%; }
.master-marker { left: 99.7%; }

.add-button {
    width: 100px;
    height: $button-height;
    color: black;
    background-color: rgb(67, 99, 99);
    cursor: not-allowed;
    border-radius: 8px;

    &.active {
        background-color: $secondary-color;
        color: white;
        cursor: pointer;
    }
}

.input-field {
    width: 250px;
    height: $button-height;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 5px;

    &[type="number"] {
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.error-message {
    color: red;
    margin: 5px 0;
    font-size: 0.85em;
}