$primary-color: green;
$secondary-color: black;
$text-light: #fff;
$border-color: #ddd;
$error-color: #f00;

.grid-item {
  position: relative;
  overflow: hidden;

  &:hover .text-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.text-container {
  position: absolute;
  bottom: -100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  color: $text-light;
  transition: bottom 0.3s;
}

.portfolioDiv {
  display: flex;
  flex-direction: column;
  margin: 3vw 3vw 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
  margin-top: 1vw;
}

.PortfolioImage {
  width: 24vw;
}

.PortfolioTitle, .titleText {
  font-size: 35px;
  margin: 3vw 0 2vw;
  color: $primary-color;
}

.titleText {
  font-size: 25px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin: 1vw;
}

.describeText {
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin: 1vw;
  color: $secondary-color;
}

.linkText {
  font-size: 22px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin: 1vw;
  color: $primary-color;
}

.portfolio-filters {
  display: flex;
  border-bottom: 2px solid $border-color;
  margin-bottom: 20px;

  button {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    margin-right: 10px;
    font-weight: bold;
    color: #333;
    transition: border-color 0.3s;

    &:hover, 
    &:focus {
      border-bottom: 2px solid $error-color;
    }
  }
}

.hidden {
  display: none;
}