$primary-color: green;
$secondary-color: black;
$background-light: #f5f5f5;
$border-color-light: #f3f3f3;

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  margin-right: 3vw;
  margin-left: 3vw;

  .Title {
    font-size: 35px;
    margin-bottom: 12px;
    margin-top: 2vw;
    color: $primary-color;
  }

  .timeline-event {
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    
    &:hover {
      background-color: rgba($primary-color, 0.1);
    }
  }

  .dates-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-top: 3vw;
    z-index: 3;
  }

  .event-date {
    font-size: 18px;
    font-weight: bold;
    color: $secondary-color;
  }

  .vertical-line {
    width: 0.5vw;
    height: 8vw;
    background-color: $primary-color;
    margin-top: 10px;
  }

  .content-container {
    padding: 15px;
    border-width: 15px 5px 5px 0;
    background-color: $background-light;
    position: relative;
    padding-left: 40px;
    margin-top: 2vw;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-300%) translateX(-100%);
      width: 2vw;
      height: 0;
      border-style: solid;
      border-width: 9px 14px 15px 0;
      border-color: transparent $background-light transparent transparent;
      z-index: 1;
    }
  }

  h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: $secondary-color;
  }

  .text {
    font-size: 18px;
    color: $secondary-color;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
  }

  .event-content {
    &:before {
      content: "";
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 20px 10px 0;
      border-color: transparent $border-color-light transparent transparent;
    }
  }

  .error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: red;
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }

  .loading-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7); 

    .loading-icon {
      width: 50px;
      height: 50px;
      border: 8px solid #f3f3f3; 
      border-top: 8px solid $primary-color; 
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media (max-width: 768px) {
    .Title {
      font-size: 28px;
    }
    
    .text, .event-date, h3 {
      font-size: 16px;
    }
  }
}