.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    margin-right: 3vw;
    margin-left: 3vw;
}

.Title {
    font-size: 35px;
    margin-bottom: 12px;
    margin-top: 2vw;
    color: green;
}

.timeline-event {
    display: flex;
    align-items: center;
}

.dates-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-top: 3vw;
    z-index: 3;
}

.event-date {
    font-size: 18px; 
    font-weight: bold;
    color:  #222935;
}

.vertical-line {
    width: 0.5vw; 
    height: 8vw;
    background-color: green;
    margin-top: 10px;
}

.content-container {
    padding: 15px;
    border-width: 15px 5px 5px 0; 
    background-color: #f5f5f5;
    position: relative; 
    padding-left: 40px; 
    margin-top: 2vw;
}

.content-container::before {
    content: "";
    position: absolute;
    top: 50%; 
    left: 0; 
    transform: translateY(-300%) translateX(-100%); 
    width: 2vw;
    height: 0;
    border-style: solid;
    border-width: 9px 14px 15px 0;
    border-color: transparent #f5f5f5 transparent transparent;
    z-index: 1; 
    color: #888888;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color:  #222935;
}

.text {
    font-size: 18px;
    color:  #222935;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.event-content:before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%; 
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    border-color: transparent #f3f3f3 transparent transparent;
}